body {
  margin: 0;
  padding: 0;
  height: 100vh;
  text-align: center;
}

.heading {
  font-family: arial;
  display: flex;
  justify-content: center;
  padding: 10px
}

h1 {
  margin: 0;
}


textarea {
  height: 20vh;
  width: 100vw;
  max-width: 600px;
  font: 16rem;
}

/*@media screen
  and (min-device-width: 1200px)
  and (-webkit-min-device-pixel-ratio: 1) {
  .encoder {
    display: flex;
  }
 textarea {
   width: 30%;
   margin: 40px;
 }
 svg {
   margin: 40px;
 }
}*/
